#applicationHost{
	
	input[type="text"]{
		border-radius: 5px;
	}

	button{
		border-radius: 4px;
	}

	.raleway{
		font-family: 'Raleway', sans-serif;
	}

	.main-panel{
		margin-top: 5%;
		background: rgba(0, 0, 0, 0.8);
	}
}