#applicationHost{
	
	input[type="text"]:not(.prefix){
		border-radius: 5px;
	}

	input[type="text"].prefix{
		border-radius: 5px 0px 0px 5px;
	}

	button:not(.postfix){
		border-radius: 4px;
	}

	button.postfix{
		border-radius: 0px 4px 4px 0px;
	}

	button.right, button.left {
		margin-left: 5px;
	}

	/* =================
		Google Fonts 
	==================*/

	.raleway{
		font-family: 'Raleway', sans-serif;
	}

	.lora{
		font-family: 'Lora', serif;
	}

	.bold {
		font-weight: bold;
	}

	.main-panel{
		position: relative;
		top: 10%;
		// margin-top: 5%;
		background: rgba(0, 0, 0, 0.8);
	}

	.logo{
		.beer{
			color: white;
		}

		.bonder{
			color: white;
			position: relative;

		}
	}

	.beer-label-small {
		height: 125px;
		width: 125px;
	}

	.beer-search-result-container {
		margin-bottom: 10px;
		// border: 1px solid #e6e6e6;
	}

	.landing-page {
		background: rgba(0, 0, 0, 0.65);
		height: 100%;
		width: 100%;
	}
}