<div class="small-12 medium-8 columns small-centered">
	<div class="small-12 columns search-results-search-input">
		<form data-bind="submit: searchAgain">
			<div class="row collapse">
				<div class="small-6 medium-8 columns">
					<input class="prefix" type="text" data-bind="textInput: searchTerm" />
				</div>
				<div class="small-6 medium-4 columns">
					<button class="primary postfix" data-bind="click: searchAgain">Search Again</button>
				</div>
			</div>
		</form>
	</div>

	<div class="small-12 columns">
		<h4 class="raleway">
			Search Results for: <span data-bind="text: resultTerm"></span>
		</h4>
	</div>

	<!-- ko foreach: results -->
		<div data-bind="template: { name: 'beerResult', data: $data }"></div>
	<!-- /ko -->

	<script type="text/html" id="beerResult">
		<div class="small-12 columns beer-search-result-container">
			<div class="small-12 medium-2 columns">
				<img class="beer-label-small" data-bind="attr: { src: $data.beer.beer_label }">
			</div>
			<div class="small-12 medium-10 columns">
				<div class="row">
					<div class="small-12 columns">
						<h5 class="lora bold">
							{{ $data.beer.beer_name }}
						</h5>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<a data-bind="attr: { href: $data.brewery.contact.url }">
							{{ $data.brewery.brewery_name }}
						</a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{ $data.beer.beer_style }}
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{ $data.beer.beer_abv }}% ABV
					</div>
				</div>
			</div>
		</div>
	</script>
</div>