<div class="small-12 medium-8 columns small-centered">
	<!-- ko if: linkBeer1() || linkBeer2() -->
	<div class="small-12 columns">

		<div class="small-12 medium-5 columns">
			<!-- ko if: linkBeer1() -->
				<div data-bind="template: { name: 'beerData', data: linkBeer1() }"></div>
			<!-- /ko -->
		</div>

		<div class="show-for-medium-up medium-2 columns">
			<i class="fa fa-long-arrow-right"></i>
		</div>
		<div class="show-for-small-only small-12 columns">
			<i class="fa fa-chevron-down"></i>
		</div>
		<div class="small-12 medium-5 columns">
			<!-- ko if: linkBeer2() -->
				<div data-bind="template: { name: 'beerData', data: linkBeer2() }"></div>
			<!-- /ko -->
		</div>
	</div>
	<!-- /ko -->

	<div class="small-12 columns search-results-search-input">
		<form data-bind="submit: searchAgain">
			<div class="row collapse">
				<div class="small-6 medium-8 columns">
					<input class="prefix" type="text" data-bind="textInput: searchTerm" />
				</div>
				<div class="small-6 medium-4 columns">
					<button class="primary postfix" data-bind="click: searchAgain">Search Again</button>
				</div>
			</div>
		</form>
	</div>

	<!-- ko if: showLinkDetails -->

	<!-- /ko -->

	<!-- ko ifnot: showLinkDetails -->
		<div class="small-12 columns">
			<h4 class="raleway">
				Search Results for: <span data-bind="text: resultTerm"></span>
			</h4>
		</div>

		<!-- ko foreach: results -->
			<div data-bind="template: { name: 'beerResult', data: $data }"></div>
		<!-- /ko -->
	<!-- /ko -->

	<script type="text/html" id="beerResult">
		<div class="small-12 columns beer-search-result-container">
			
			<div class="small-12 medium-7 columns" data-bind="template: { name: 'beerData', data: $data }"></div>

			<div class="small-12 medium-5 columns">
				<div class="row">
					<div class="small-12 columns">
						<a data-bind="click: $root.linkBeer">
							<button class="tiny primary">Link This Beer</button>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<button class="tiny secondary">View Beer Bonds</button>
					</div>
				</div>
			</div>
		</div>
	</script>

	<script type="text/html" id="beerData">
		<div class="small-12 medium-5 columns">
			<img class="beer-label-small" data-bind="attr: { src: $data.beer.beer_label }">
		</div>
		<div class="small-12 medium-7 columns">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="lora bold">
						{{ $data.beer.beer_name }}
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<a data-bind="attr: { href: $data.brewery.contact.url }">
						{{ $data.brewery.brewery_name }}
					</a>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{{ $data.beer.beer_style }}
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					{{ $data.beer.beer_abv }}% ABV
				</div>
			</div>
		</div>
	</script>
</div>